name: ci
'on':
  push:
    paths-ignore:
      - guides/**
permissions: read-all
jobs:
  ci:
    env:
      MIX_ENV: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: 1.18.3-otp-27
              otp: 27.3.1
    runs-on: ubuntu-24.04
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9
        with:
          otp-version: '${{matrix.pair.otp}}'
          elixir-version: '${{matrix.pair.elixir}}'

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: |
            deps
            _build
          key: >-
            ${{ runner.os
            }}-mix-${{matrix.pair.elixir}}-${{matrix.pair.otp}}-${{
            hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{matrix.pair.elixir}}-${{matrix.pair.otp}}-

      - name: Run mix deps.get
        run: mix deps.get --only test

      - name: Run mix format
        run: mix format --check-formatted

      - name: Run mix deps.compile
        run: mix deps.compile

      - name: Run mix compile
        run: mix compile --warnings-as-errors

      - name: Run credo
        run: mix credo --strict

      - name: Run tests
        run: mix coveralls.github
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
